<!-- BEGIN PAGE HEADER-->

<h3 class="page-title">
	工單管理 <small></small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">工單管理</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/workorder/OPPatrolList">定時巡檢</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
				Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
						<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
						<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
						<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-6 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box green ">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i> 定時巡檢
				</div>
				<div class="tools">
					<a href="" class="collapse">
					</a>
					<!--<a href="#portlet-config" data-toggle="modal" class="config">
					</a>-->
					<a href="" class="reload">
					</a>
					<a href="" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form" >
				<form class="form-horizontal" id="myForm" name="myForm" >
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">編號</label>
							<div class="col-md-9">
								<p class="form-control-static">{{OPPatrol.WorkorderCode}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">說明</label>
							<div class="col-md-9">
								<input type="text" name="Description" ng-model="OPPatrol.Description" required class="form-control" >
								<span class="help-block" ng-show="myForm.Description.$invalid">此欄位必填</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">狀態</label>
							<div class="col-md-9"><p class="form-control-static">{{OPPatrol.ActivityStatusName}}</p>

							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">維修設備</label>
							<div class="col-md-9">
								<input type="text" name="Description" ng-model="OPPatrol.OPPatrolItemName" required class="form-control" >
								<span class="help-block" ng-show="myForm.Name.$invalid">此欄位必填</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">完工期限</label>
							<div class="col-md-9">
								<input type="text" name="DueDate" ng-model="OPPatrol.DueDate" required class="form-control" >
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<span ng-switch on="func">
									<span ng-switch-when="update">
										<button type="button" class="btn green" ng-click="update()" ng-disabled="myForm.$invalid">更新</button>
									</span>
									<span ng-switch-default>
										<button type="button" class="btn green" ng-click="add()" ng-disabled="myForm.$invalid">新增</button>
									</span>
								</span>

								<a href="#/workorder/OPPatrolList"><button type="button" class="btn default">返回</button></a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
	<div class="col-md-6 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->

		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	//TableAdvanced.init();
	/*$(function(){
	 alert();
	 //須與form表單ID名稱相同
	 $("#myForm").validate();
	 });*/
</script>
<!-- END MAIN JS -->