<!-- BEGIN PAGE HEADER-->

<h3 class="page-title">
    資產管理 <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">吊臥式空調箱管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/device/AHU2List">吊臥式空調箱設定</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 吊臥式空調箱設定
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <!--<a href="#portlet-config" data-toggle="modal" class="config">
                    </a>-->
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form" >
                <form class="form-horizontal" id="myForm" name="myForm" >
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">代碼</label>
                            <div class="col-md-9"><span class="form-control-static">{{AHU2.Code}}</span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">名稱</label>
                            <div class="col-md-9"><p class="form-control-static">{{AHU2.Name}}</p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">說明</label>
                            <div class="col-md-9"><p class="form-control-static">{{AHU2.Description}}</p>

                            </div>
                        </div>
                        <div class="form-group">
													<label class="col-md-3 control-label">廠牌</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.ManufacturerName}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">型號</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.ModelData}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">重要性</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.CriticalityName}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">維修廠商</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.MaintenanceContractorName}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">保養週期</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.MaintainPeriodName}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">開機時間</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.AcceptanceDate}}</p></div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">維護保固</label>
													<div class="col-md-9"><p class="form-control-static">{{AHU2.WarrantyEnd}}</p></div>
												</div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">所屬房間</label>
                            <div class="col-md-9"><p class="form-control-static">{{AHU2.RoomName}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">


                                <a href="#/device/AHU2List"><button type="button" class="btn default">返回</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-6 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->

        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    //TableAdvanced.init();
    /*$(function(){
     alert();
     //須與form表單ID名稱相同
     $("#myForm").validate();
     });*/
</script>
<!-- END MAIN JS -->